In [4]:
import pandas as pd
import time
import datetime

In [25]:
def createDataset(tickers,period1,period2,interval):
    query_string= f'https://query1.finance.yahoo.com/v7/finance/download/{tickers}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
    df = pd.read_csv(query_string)
    return df

In [32]:
import yfinance as yf

df = yf.download('^GSPC', start='2023-04-01', end='2023-05-05')

[*********************100%***********************]  1 of 1 completed

In [33]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-03,4102.200195,4127.660156,4098.790039,4124.509766,4124.509766,4234700000
2023-04-04,4128.029785,4133.129883,4086.870117,4100.600098,4100.600098,4227800000
2023-04-05,4094.500000,4099.689941,4072.560059,4090.379883,4090.379883,3968020000
2023-04-06,4081.149902,4107.319824,4069.840088,4105.020020,4105.020020,3486690000
2023-04-10,4085.199951,4109.500000,4072.550049,4109.109863,4109.109863,3423650000
2023-04-11,4110.290039,4124.259766,4102.609863,4108.939941,4108.939941,3665830000
2023-04-12,4121.720215,4134.370117,4086.939941,4091.949951,4091.949951,3633120000
2023-04-13,4100.040039,4150.259766,4099.399902,4146.220215,4146.220215,3596590000
2023-04-14,4140.109863,4163.189941,4113.200195,4137.640137,4137.640137,3575690000
2023-04-17,4137.169922,4151.720215,4123.180176,4151.319824,4151.319824,3611180000
2023-04-18,4164.259766,4169.479980,4140.359863,4154.870117,4154.870117,3536640000
2023-04-19,4139.330078,4162.569824,4134.490234,4154.520020,4154.520020,3572560000
2023-04-20,4130.479980,4148.569824,4114.569824,4129.790039,4129.790039,3772080000
2023-04-21,4132.140137,4138.020020,4113.859863,4133.520020,4133.520020,3611750000
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000
2023-05-01,4166.790039,4186.919922,4164.120117,4167.870117,4167.870117,3321370000
2023-05-02,4164.100098,4164.100098,4089.719971,4119.580078,4119.580078,4486130000
2023-05-03,4122.250000,4148.299805,4088.860107,4090.750000,4090.750000,4246510000
2023-05-04,4082.550049,4082.610107,4048.280029,4061.219971,4061.219971,4920090000

In [1]:
start = int(time.mktime(datetime.datetime(2023,4,7).timetuple()))
end = int(time.mktime(datetime.date.today().timetuple()))
df = createDataset("^GSPC",start,end,"1d")

NameError: name 'time' is not defined

In [28]:
df = df.set_index('Date')
df.index = pd.to_datetime(df.index)

# Resample the data to daily frequency and forward fill missing data
df = df.resample('D').ffill()

# Reset the index to make the date a column again
df = df.reset_index()

In [29]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-10,4085.199951,4109.500000,4072.550049,4109.109863,4109.109863,3423650000
1,2023-04-11,4110.290039,4124.259766,4102.609863,4108.939941,4108.939941,3665830000
2,2023-04-12,4121.720215,4134.370117,4086.939941,4091.949951,4091.949951,3633120000
3,2023-04-13,4100.040039,4150.259766,4099.399902,4146.220215,4146.220215,3596590000
4,2023-04-14,4140.109863,4163.189941,4113.200195,4137.640137,4137.640137,3575690000
5,2023-04-15,4140.109863,4163.189941,4113.200195,4137.640137,4137.640137,3575690000
6,2023-04-16,4140.109863,4163.189941,4113.200195,4137.640137,4137.640137,3575690000
7,2023-04-17,4137.169922,4151.720215,4123.180176,4151.319824,4151.319824,3611180000
8,2023-04-18,4164.259766,4169.479980,4140.359863,4154.870117,4154.870117,3536640000
9,2023-04-19,4139.330078,4162.569824,4134.490234,4154.520020,4154.520020,3572560000
10,2023-04-20,4130.479980,4148.569824,4114.569824,4129.790039,4129.790039,3772080000
11,2023-04-21,4132.140137,4138.020020,4113.859863,4133.520020,4133.520020,3611750000
12,2023-04-22,4132.140137,4138.020020,4113.859863,4133.520020,4133.520020,3611750000
13,2023-04-23,4132.140137,4138.020020,4113.859863,4133.520020,4133.520020,3611750000
14,2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000
15,2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000
16,2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000
17,2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000
18,2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000
19,2023-04-29,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000
20,2023-04-30,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000
21,2023-05-01,4166.790039,4186.919922,4164.120117,4167.870117,4167.870117,3321370000
22,2023-05-02,4164.100098,4164.100098,4089.719971,4119.580078,4119.580078,4486130000
23,2023-05-03,4122.250000,4148.299805,4088.860107,4090.750000,4090.750000,4246510000
24,2023-05-04,4082.550049,4082.610107,4048.280029,4061.219971,4061.219971,4920090000
25,2023-05-05,4084.729980,4147.020020,4084.729980,4136.250000,4136.250000,4186270000

In [5]:
tickers = ["BTC-USD","^GSPC","ETH-USD","^DJI"]
names = ["Bitcoin","S&P 500","Ethereum","Dow Jones"]

tickerDict = {}
for i in range(len(names)):
    tickerDict[names[i]] = tickers[i]


#Start from 2021/1/1 23:59
period1 = int(time.mktime(datetime.datetime(2021,1,1,23,59).timetuple()))
#Ends at this moment
period2 = int(time.mktime(datetime.datetime.now().timetuple()))
#Intervals
interval = "1d"

dataset = createDataset(tickers,period1,period2,interval)
selectedAttributes = ["Open","High","Low","Close","Adj Close","MA20","MA200"]
dataset['Date'] = pd.to_datetime(dataset['Date'], format="%Y-%m-%d")

In [6]:
dataset

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,BTC-USD
1,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,BTC-USD
2,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914063,31971.914063,81163475344,BTC-USD
3,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,BTC-USD
4,2021-01-06,34013.613281,36879.699219,33514.035156,36824.363281,36824.363281,75289433811,BTC-USD
...,...,...,...,...,...,...,...,...
2841,2023-04-18,33965.160156,34018.621094,33791.890625,33976.628906,33976.628906,253570000,^DJI
2842,2023-04-19,33889.828125,33957.980469,33814.648438,33897.011719,33897.011719,251490000,^DJI
2843,2023-04-20,33740.601563,33875.390625,33677.738281,33786.621094,33786.621094,307910000,^DJI
2844,2023-04-21,33793.601563,33858.828125,33688.570313,33808.960938,33808.960938,291080000,^DJI
2845,2023-04-24,33805.039063,33891.148438,33726.089844,33784.539063,33784.539063,108767735,^DJI

In [61]:
dfBTC = dataset[dataset["Ticker"]=="BTC-USD"]
dfSP500= dataset[dataset["Ticker"]=="^DJI"]
dataset['Date'] = pd.to_datetime(dataset['Date'], format="%Y-%m-%d")

In [62]:
dfBTC["Date"][0] == datetime.datetime(2021,1,2,00,00)

True

In [65]:
def normalizePrice(dataset,date,attr,name):
    price = dataset[dataset["Date"]==date][attr]
    dataset[name] = dataset["High"]/(price.iloc[0]/100)
    print(dataset)

In [66]:
normalizePrice(dfBTC,datetime.datetime(2021,2,1),"High","df1norm")
normalizePrice(dfSP500,datetime.datetime(2021,2,1),"High","df2norm")

          Date          Open          High           Low         Close  \
0   2021-01-02  29376.455078  33155.117188  29091.181641  32127.267578
1   2021-01-03  32129.408203  34608.558594  32052.316406  32782.023438
2   2021-01-04  32810.949219  33440.218750  28722.755859  31971.914063
3   2021-01-05  31977.041016  34437.589844  30221.187500  33992.429688
4   2021-01-06  34013.613281  36879.699219  33514.035156  36824.363281
..         ...           ...           ...           ...           ...
838 2023-04-20  28823.683594  29076.400391  28037.257813  28245.988281
839 2023-04-21  28249.230469  28349.968750  27177.365234  27276.910156
840 2023-04-22  27265.894531  27872.142578  27169.570313  27817.500000
841 2023-04-23  27816.144531  27820.244141  27400.314453  27591.384766
842 2023-04-24  27576.402344  27956.941406  27213.164063  27343.695313

        Adj Close       Volume   Ticker     df1norm
0    32127.267578  67865420765  BTC-USD   95.718320
1    32782.023438  78665235202  BTC-USD   99.914383
2    31971.914063  81163475344  BTC-USD   96.541403
3    33992.429688  67547324782  BTC-USD   99.420799
4    36824.363281  75289433811  BTC-USD  106.471131
..            ...          ...      ...         ...
838  28245.988281  21340360360  BTC-USD   83.943126
839  27276.910156  20759504330  BTC-USD   81.845929
840  27817.500000  13125734602  BTC-USD   80.466452
841  27591.384766  12785446832  BTC-USD   80.316622
842  27343.695313  16621421568  BTC-USD   80.711265

[843 rows x 9 columns]
           Date          Open          High           Low         Close  \
2266 2021-01-04  30627.470703  30674.279297  29881.820313  30223.890625
2267 2021-01-05  30204.250000  30504.890625  30141.779297  30391.599609
2268 2021-01-06  30362.779297  31022.650391  30313.070313  30829.400391
2269 2021-01-07  30901.179688  31193.400391  30897.859375  31041.130859
2270 2021-01-08  31069.580078  31140.669922  30793.269531  31097.970703
...         ...           ...           ...           ...           ...
2841 2023-04-18  33965.160156  34018.621094  33791.890625  33976.628906
2842 2023-04-19  33889.828125  33957.980469  33814.648438  33897.011719
2843 2023-04-20  33740.601563  33875.390625  33677.738281  33786.621094
2844 2023-04-21  33793.601563  33858.828125  33688.570313  33808.960938
2845 2023-04-24  33805.039063  33891.148438  33726.089844  33784.539063

         Adj Close     Volume Ticker     df2norm
2266  30223.890625  475080000   ^DJI  101.115408
2267  30391.599609  350910000   ^DJI  100.557031
2268  30829.400391  500430000   ^DJI  102.263786
2269  31041.130859  427810000   ^DJI  102.826651
2270  31097.970703  381150000   ^DJI  102.652829
...            ...        ...    ...         ...
2841  33976.628906  253570000   ^DJI  112.139774
2842  33897.011719  251490000   ^DJI  111.939877
2843  33786.621094  307910000   ^DJI  111.667626
2844  33808.960938  291080000   ^DJI  111.613029
2845  33784.539063  108767735   ^DJI  111.719570

[580 rows x 9 columns]

/var/folders/zp/cjw04txs0mj1w957b3c1rzsw0000gn/T/ipykernel_4138/3496538706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[name] = dataset["High"]/(price.iloc[0]/100)
/var/folders/zp/cjw04txs0mj1w957b3c1rzsw0000gn/T/ipykernel_4138/3496538706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[name] = dataset["High"]/(price.iloc[0]/100)

In [67]:
dfSP500.set_index(dfSP500["Date"])

In [68]:
dfSP500

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,df2norm
Date,,,,,,,,,
2021-01-04,2021-01-04,30627.470703,30674.279297,29881.820313,30223.890625,30223.890625,475080000,^DJI,101.115408
2021-01-05,2021-01-05,30204.250000,30504.890625,30141.779297,30391.599609,30391.599609,350910000,^DJI,100.557031
2021-01-06,2021-01-06,30362.779297,31022.650391,30313.070313,30829.400391,30829.400391,500430000,^DJI,102.263786
2021-01-07,2021-01-07,30901.179688,31193.400391,30897.859375,31041.130859,31041.130859,427810000,^DJI,102.826651
2021-01-08,2021-01-08,31069.580078,31140.669922,30793.269531,31097.970703,31097.970703,381150000,^DJI,102.652829
...,...,...,...,...,...,...,...,...,...
2023-04-18,2023-04-18,33965.160156,34018.621094,33791.890625,33976.628906,33976.628906,253570000,^DJI,112.139774
2023-04-19,2023-04-19,33889.828125,33957.980469,33814.648438,33897.011719,33897.011719,251490000,^DJI,111.939877
2023-04-20,2023-04-20,33740.601563,33875.390625,33677.738281,33786.621094,33786.621094,307910000,^DJI,111.667626
2023-04-21,2023-04-21,33793.601563,33858.828125,33688.570313,33808.960938,33808.960938,291080000,^DJI,111.613029
2023-04-24,2023-04-24,33805.039063,33891.148438,33726.089844,33784.539063,33784.539063,108767735,^DJI,111.719570

In [69]:
dfBTC.set_index(dfBTC["Date"],inplace=True)

In [70]:
dfBTC

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,df1norm
Date,,,,,,,,,
2021-01-02,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,BTC-USD,95.718320
2021-01-03,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,BTC-USD,99.914383
2021-01-04,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914063,31971.914063,81163475344,BTC-USD,96.541403
2021-01-05,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,BTC-USD,99.420799
2021-01-06,2021-01-06,34013.613281,36879.699219,33514.035156,36824.363281,36824.363281,75289433811,BTC-USD,106.471131
...,...,...,...,...,...,...,...,...,...
2023-04-20,2023-04-20,28823.683594,29076.400391,28037.257813,28245.988281,28245.988281,21340360360,BTC-USD,83.943126
2023-04-21,2023-04-21,28249.230469,28349.968750,27177.365234,27276.910156,27276.910156,20759504330,BTC-USD,81.845929
2023-04-22,2023-04-22,27265.894531,27872.142578,27169.570313,27817.500000,27817.500000,13125734602,BTC-USD,80.466452
2023-04-23,2023-04-23,27816.144531,27820.244141,27400.314453,27591.384766,27591.384766,12785446832,BTC-USD,80.316622
2023-04-24,2023-04-24,27576.402344,27956.941406,27213.164063,27343.695313,27343.695313,16621421568,BTC-USD,80.711265

In [71]:
result=pd.concat([dfBTC["df1norm"],dfSP500["df2norm"]],axis=1,join="inner")

In [72]:
result

               df1norm     df2norm
Date
2021-01-04   96.541403  101.115408
2021-01-05   99.420799  100.557031
2021-01-06  106.471131  102.263786
2021-01-07  116.000110  102.826651
2021-01-08  121.099596  102.652829
...                ...         ...
2023-04-18   87.967301  112.139774
2023-04-19   87.796253  111.939877
2023-04-20   83.943126  111.667626
2023-04-21   81.845929  111.613029
2023-04-24   80.711265  111.719570

[580 rows x 2 columns]

In [31]:
dfBTC["corr"] = dfSP500["normalized"].to_list()

/var/folders/zp/cjw04txs0mj1w957b3c1rzsw0000gn/T/ipykernel_4138/2957493366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBTC["corr"] = dfSP500["normalized"].to_list()

In [30]:
dfSP500["normalized"].to_list()

[57.26977857941228,
 73.2662270892005,
 83.9387643078509,
 82.20510915043906,
 88.0323371801927,
 93.35687940093278,
 92.71983011630871,
 94.90670658041269,
 98.11334885411904,
 91.83147788799371,
 83.65132484935127,
 82.56665197494048,
 90.56060464426567,
 91.02228476037331,
 93.90089961513695,
 92.12421291886956,
 91.67331952986791,
 104.25478775975462,
 102.3218264684103,
 100.64334897258212,
 92.56407079011211,
 92.59780827299163,
 101.54788132795031,
 106.8376731428361,
 100.16299194270943,
 99.57988531937343,
 98.72204517562952,
 104.0132142192884,
 102.07839587822745,
 100.36905094499959,
 100.0,
 112.31179939714123,
 120.89490070692612,
 122.95314476062116,
 127.85357381713483,
 126.5290778170105,
 123.01501305650507,
 128.8784220019739,
 132.18103443303036,
 132.96228323145357,
 131.49503606054193,
 135.4851396080051,
 136.23097162303492,
 134.52412340373053,
 133.48154011386248,
 132.80374287995525,
 134.9254457282352,
 141.93029570839946,
 143.36011808311895,
 148.2179777341464,
 143.70314398269542,
 140.95131344159378,
 129.6658639261796,
 124.53972155136111,
 121.57289345039862,
 113.47917667544682,
 110.99734375216374,
 106.881824166842,
 114.10993515229411,
 116.28743763879035,
 120.1270598176473,
 118.13216792357322,
 112.6675312348094,
 121.49154851491433,
 125.99115290101783,
 133.58064679491966,
 135.97223167308456,
 136.39108471287162,
 134.20857089258905,
 133.89401347127142,
 141.03806065720656,
 140.53831586233483,
 137.51154755665542,
 132.26085110387112,
 133.91742628762583,
 134.55994001364743,
 134.01766133401466,
 136.4570135808361,
 132.71889711496559,
 131.89021861314023,
 125.5678572957777,
 126.68293569258398,
 118.34744986760067,
 123.95298082301191,
 126.12946150635206,
 125.82082170683162,
 133.7259213929627,
 135.45731967413445,
 141.7799387351197,
 144.78007777910594,
 156.6734683638901,
 156.1283197115659,
 153.60919526759852,
 155.8388367195424,
 156.58404675793952,
 155.27124377293208,
 152.23806914433064,
 153.06475739371993,
 159.91578516461263,
 157.60075596546648,
 160.11394510006244,
 168.7542588703503,
 178.30876328499232,
 185.1930753583649,
 185.4324275433162,
 181.7806051126588,
 172.1780134244685,
 165.72287905740805,
 170.749506117253,
 179.58351942438662,
 192.24100135107955,
 177.56993285618492,
 172.34400861537722,
 171.3501345756901,
 184.61586852367515,
 194.81027443527003,
 200.71228116153426,
 203.65985477300555,
 203.5202845268318,
 214.83057736846123,
 217.26541593559088,
 251.12263539469575,
 256.47608151373174,
 257.7772979730094,
 261.9577779770157,
 260.09396207176303,
 287.5260795002234,
 289.78936068026405,
 305.527233741821,
 304.12502683843724,
 317.52839413403603,
 293.5237275987646,
 303.6015405877148,
 300.556690704359,
 282.3385219371322,
 261.14761640011534,
 259.3060315192208,
 250.24174681318405,
 217.8661687893545,
 213.86716213225745,
 180.80508808184499,
 173.5574383683118,
 194.53388832768042,
 200.20695641011974,
 211.94049164868989,
 210.26758522922322,
 200.99513575331494,
 186.84327093252986,
 179.94651939929284,
 197.682660643526,
 199.42103394316462,
 203.90878532531116,
 210.44973390664123,
 207.96842520520815,
 205.08013430109597,
 199.69061390130875,
 207.09638645224254,
 190.7671256343484,
 191.07461035520487,
 190.70245848001176,
 181.63717861136274,
 178.12972449073752,
 185.4187619633375,
 189.71800281883884,
 192.1051984126385,
 185.94727730820887,
 178.8538053023526,
 173.03215722914177,
 165.84211980263504,
 165.6214090107236,
 164.4627126191543,
 145.0788548271055,
 148.7452491985409,
 147.93067155115457,
 146.86942918067243,
 134.67157495638202,
 144.11792749743225,
 155.752951391034,
 163.20890810291613,
 166.17505199318853,
 165.54968684350007,
 156.9023537266272,
 162.86886769117635,
 173.54835758226363,
 169.00898264912658,
 170.78298592929815,
 174.96675349288194,
 169.16067245027293,
 159.06997577402834,
 159.41556054879737,
 158.14389653220366,
 157.78409524227362,
 148.53876372918336,
 146.67638721397284,
 148.32396160609943,
 142.6431010917837,
 139.57882792270377,
 144.72777001742534,
 139.471111469149,
 133.71209589693225,
 147.44597851800435,
 148.78790747862845,
 154.99855393162474,
 159.9633215029787,
 159.72958479529535,
 176.78964369964876,
 168.647031045132,
 170.4541943052453,
 174.43383095770588,
 179.7657924243428,
 185.69486375954884,
 196.19591907265138,
 194.03421464704746,
 191.45628724387615,
 201.21934744752016,
 206.7503217837416,
 214.35471625791777,
 230.75585908629884,
 231.80213864244917,
 231.88199971419644,
 235.0293326399998,
 237.96043293285837,
 235.56607576399628,
 241.9974330816924,
 242.33294198058942,
 241.66352356167766,
 242.67605668197885,
 239.38732310082898,
 227.46191873458582,
 231.78987693178743,
 240.07399680382622,
 240.73673354140738,
 238.21691593378026,
 245.54314724507023,
 244.47344606517254,
 236.46956855584577,
 236.53711456305513,
 238.87983034777574,
 239.09858640797628,
 238.9813715814873,
 243.59218437046965,
 252.3567146262573,
 279.2793312160773,
 278.83124556570965,
 292.78898438258165,
 288.9297079604984,
 289.63850605288985,
 288.8553025227558,
 287.1729954851375,
 259.06264540273287,
 259.344433790451,
 255.6743431527333,
 243.58820372002074,
 252.02742542089828,
 249.4095141279772,
 249.60367572540392,
 263.1505405637492,
 267.374309704657,
 261.25967780991726,
 257.72961947895425,
 250.9977435786872,
 243.3552133842966,
 225.76750997514586,
 224.84932091998022,
 230.99714831538685,
 229.98534373389384,
 216.10828340217867,
 226.72539853589467,
 230.2780254836819,
 216.23754674218992,
 214.49869369439614,
 221.75119475287553,
 242.37461405103443,
 252.19987126284713,
 253.6387744236148,
 250.0117064445714,
 257.7764983199625,
 263.67960684380284,
 265.67851483626265,
 266.9846538275137,
 264.0934840705288,
 262.2743256507694,
 263.6605567440582,
 258.1423416270162,
 262.60164229126656,
 277.99760901118583,
 283.54464803210357,
 288.4205092663873,
 284.959045459122,
 283.01641699861045,
 282.70484506512946,
 303.3435114889984,
 317.8004619987108,
 303.01621260886384,
 303.6485971051373,
 304.6724323670016,
 308.38009002938884,
 312.19888505320455,
 312.92833255143455,
 312.49146016802865,
 324.32571915411245,
 322.2231019263023,
 319.8648368713425,
 318.6181583366532,
 334.8227405356784,
 339.55121245136803,
 335.3008051685857,
 332.70807486713437,
 329.80389702752854,
 337.805144547424,
 351.0119689740295,
 352.1202501015716,
 353.71530353487805,
 347.7871384876829,
 350.0202630087695,
 342.25930948256143,
 341.3660170346989,
 346.81011095258816,
 356.0592099189878,
 313.01231642931987,
 316.16044900817013,
 313.8426298307527,
 322.7718935638211,
 321.9059677966412,
 313.1372436932652,
 319.21219384278436,
 318.58567368722026,
 331.22479853225155,
 331.2483979052016,
 304.8147037896337,
 312.8383422499391,
 324.6979065500308,
 345.98249865482535,
 347.98172655217695,
 336.9315419363013,
 338.2686017916166,
 308.82108521893275,
 309.1266328956526,
 318.4870113063814,
 322.3498062455443,
 324.1347918351755,
 326.26033310542687,
 307.6845843309965,
 298.11557916260364,
 303.7901932700491,
 301.77731755308133,
 281.4459758612288,
 297.440420798309,
 299.1870395646469,
 290.628861502709,
 290.70436881081616,
 292.51160311237976,
 289.7048970542237,
 295.43499096778197,
 296.5246485354352,
 302.0009071978655,
 300.9148748550442,
 301.2394015172699,
 298.79800566413627,
 300.32492656153755,
 293.8858212856599,
 278.6325702885911,
 274.234542584136,
 277.12635207811616,
 274.40618884582625,
 279.22797414331404,
 279.2306574866215,
 282.1848773314866,
 279.65727624495275,
 258.3775354851044,
 248.96985176629988,
 235.85648287718163,
 233.41707727648404,
 231.26418708591262,
 236.38110651899385,
 247.56926207494934,
 247.2598937366207,
 242.44104050030504,
 244.8992296497316,
 245.76273855183132,
 244.26462379794324,
 235.5443423209442,
 230.82345844738435,
 237.6785556705389,
 220.4818764871233,
 190.359592496487,
 185.0385777457962,
 184.67927403717226,
 181.86226100006525,
 196.94962351397763,
 182.73168752396217,
 185.52144044256204,
 191.2594067824168,
 191.5359350456955,
 196.36376243309545,
 203.9759759796919,
 203.9684589790124,
 197.43719540000055,
 217.17043206067171,
 222.3051576402323,
 222.82421901307592,
 231.65105298478449,
 234.34017103047205,
 237.51979316893144,
 238.11377539397478,
 227.64204156605416,
 216.91512189877636,
 214.56385843003886,
 215.30535444179117,
 231.868867236249,
 231.58471533732686,
 229.6193049172748,
 213.80190852201338,
 205.72526032897468,
 201.16934096298615,
 200.3469709565118,
 192.81033575947285,
 199.53974151357193,
 195.73139562439619,
 205.40677568387267,
 207.40493730437328,
 206.07301317817084,
 213.21027197502312,
 220.5234063290908,
 220.32080375539954,
 215.793743814012,
 206.367863002386,
 195.00751032234638,
 194.60969770752843,
 192.1571596288834,
 190.57204006133657,
 201.0266608336492,
 198.6479418096277,
 193.94888025372134,
 189.71842935869458,
 188.85305452669698,
 189.54342449597647,
 193.78663468297106,
 202.44681596641308,
 205.7116303425095,
 216.444680828724,
 216.9084046239322,
 215.23270822619415,
 215.05736577101,
 221.3045130446133,
 221.0402464192079,
 226.98236135776006,
 231.75511764575182,
 229.05229842657198,
 239.58857515907943,
 249.22878715302716,
 252.58920730788697,
 250.0488825228988,
 250.0374027049214,
 252.39774688691867,
 256.30857581854207,
 260.14274236339435,
 257.31767922357665,
 258.1590104551943,
 248.3300569043109,
 237.5430015227509,
 240.3186268735795,
 237.43298379204958,
 240.42022138837885,
 233.97544728135705,
 224.00276515743676,
 227.35996879416948,
 228.55029682824852,
 221.5887182246232,
 223.8160139257256,
 223.88071667357576,
 222.91591532841758,
 227.46979116088227,
 229.85735986787307,
 230.99035992630394,
 220.17423185021505,
 216.5688973142237,
 215.59057254477588,
 219.70555007509668,
 220.2878215246605,
 211.95081631521498,
 216.4096549916727,
 214.24862582378918,
 206.48806331671167,
 206.6246659081997,
 209.2044058873928,
 208.11602779373004,
 215.2124142459726,
 214.65004583028812,
 200.52014541005718,
 196.28496756541077,
 192.07617899919737,
 184.0277861600664,
 178.386847301443,
 177.68218977555213,
 157.98410334725878,
 155.74625187655244,
 150.1937040133306,
 156.290778552244,
 156.19197401571606,
 153.80618229123345,
 153.02493349281022,
 147.64307224939157,
 149.5652467408415,
 144.51374090684448,
 149.0117281537031,
 151.42408690582147,
 144.9606270048533,
 146.62267558297526,
 142.82324168361467,
 132.0858906420595,
 127.9577183997338,
 132.38578724799777,
 145.95602930918392,
 145.9764211169765,
 143.04127801239997,
 134.31739802390126,
 133.93488588866947,
 131.76876546536798,
 132.9013478641244,
 139.39195236845444,
 135.59854265306663,
 133.25192621231716,
 133.00568795628868,
 130.84494309978342,
 122.2345461507662,
 112.07262488860421,
 105.45128213349558,
 91.16538254938467,
 90.0121061983065,
 90.70454648723047,
 80.97499280896383,
 79.7154127538292,
 83.14912774146254,
 84.43344448784855,
 86.2857005807038,
 81.97875616792736,
 83.45145009266233,
 90.1569099283757,
 90.72301013106765,
 92.59636000276814,
 89.83400928557612,
 89.51069993607179,
 83.90205021731605,
 80.33582880378881,
 80.08350405694175,
 78.10575193180792,
 78.86030042708758,
 83.92090488028377,
 84.84814800816532,
 86.88287268333039,
 90.75944871761719,
 91.92339628065615,
 89.44001733236696,
 88.57649066990467,
 85.10371591368339,
 79.8677067712456,
 81.05619551597066,
 87.56101646267331,
 92.86181715477426,
 100.29834170075088,
 100.3327633215321,
 114.91230437010645,
 116.9733205689219,
 117.3818577495768,
 116.15291424712812,
 119.46094671867566,
 115.85234231068104,
 120.42317128270197,
 116.84985933556263,
 105.19019650549217,
 119.13996521407341,
 129.16852704341844,
 128.0990924145364,
 126.50741548819715,
 127.07999305526148,
 123.75267057349757,
 121.74799606789938,
 122.14603971300782,
 120.7203579047889,
 126.08799382565361,
 126.96667881201299,
 125.54459558808209,
 131.5203236141872,
 130.00895198702517,
 136.07062750290774,
 140.33155496178037,
 142.48709304772242,
 146.57800026433097,
 147.23569902758192,
 146.101570531031,
 139.08004276971909,
 142.05929249739503,
 136.57842232770187,
 134.44706119043596,
 120.26231182090609,
 119.4410968930957,
 118.11942646475632,
 121.31466891490534,
 122.76179090182845,
 125.06375873726589,
 123.63549126773376,
 110.4308792436735,
 109.60414659337775,
 113.28123881731779,
 116.49496274445497,
 117.36097731344782,
 115.9578997155667,
 119.6046308908061,
 114.96590936614011,
 114.86072514723405,
 118.03809040945332,
 122.32779737129528,
 120.1773239002273,
 120.46941926689627,
 126.34676922354078,
 129.8906886440478,
 129.76200280697435,
 129.42962155160313,
 127.07241389331294,
 119.52994994907816,
 120.02407031371223,
 107.76785735764781,
 107.2216691418049,
 106.97746553911898,
 101.05007357721526,
 100.59103233072021,
 100.77382074513345,
 97.25675273642877,
 98.50365342122723,
 97.9917269101138,
 97.05392801262833,
 97.21078906361271,
 101.67745561988367,
 98.40729239032335,
 98.12656132648655,
 99.62860337694734,
 96.99170421833904,
 95.81352245256485,
 96.55773732834977,
 99.35401208501689,
 99.17064616766586,
 100.47742489591218,
 98.94328026217934,
 97.24197647869256,
 96.6388512335436,
 97.22071397640269,
 94.3536678142178,
 94.84872110740663,
 94.44758541228597,
 97.51783836443218,
 94.67918075887444,
 95.5445288775398,
 97.21962993918913,
 97.46988443918006,
 95.53054346545763,
 95.1966428256242,
 94.99474215019723,
 95.86964199567298,
 99.55707671928907,
 99.60546606457824,
 109.90938331817546,
 115.34312585620734,
 114.59826229045751,
 114.17830752588267,
 120.27420922576955,
 119.15731825294151,
 118.67800966676882,
 116.9422131482621,
 117.43753306525497,
 113.31399897073602,
 120.9258482115342,
 120.86410423818845,
 118.94583921016029,
 116.78714691293689,
 114.6271129076656,
 97.22659600468633,
 97.6667915411833,
 94.791952947122,
 93.76240445320711,
 92.56588336613389,
 93.47611119319009,
 93.40194559313088,
 92.03990032869955,
 89.16325803879776,
 89.29221930706817,
 89.37227581559233,
 89.09862640518632,
 83.15312615227403,
 82.71980787946129,
 86.25402446449912,
 88.19238803597194,
 87.622600447179,
 89.31410378599068,
 88.82725155859464,
 87.25416267141912,
 88.95934047039084,
 94.77327603335695,
 94.33372030664358,
 94.2102324327404,
 94.61326069830288,
 93.2777380606008,
 94.78775021935229,
 92.58121943923365,
 92.63733010216048,
 93.62256758322935,
 93.90103289064476,
 93.13475578673464,
 93.29891168828932,
 92.84959991780735,
 97.64118408264625,
 97.9858448090418,
 95.4304416945766,
 93.03496496777576,
 86.54865213860514,
 86.92492681993629,
 86.83098250853584,
 89.09971036961151,
 88.67023059155855,
 88.9464300697642,
 89.31124269348054,
 89.15932186204373,
 89.05786950293349,
 89.30946563818397,
 89.56012884487966,
 88.30167722786506,
 87.64750600745174,
 87.49414571318437,
 87.7164381236155,
 87.59901002719864,
 88.7916659789682,
 88.73596402274615,
 92.0632775515404,
 91.6093720341582,
 92.67563461860794,
 92.48477841390972,
 93.70480104636194,
 97.69248780153332,
 97.73710976630146,
 101.02536352650779,
 104.25341941116281,
 106.39277729726331,
 113.8220248258206,
 113.32791334136783,
 116.02756044332702,
 116.02473494433045,
 116.61473651892489,
 113.40212334233355,
 120.82037968124989,
 121.86078601650954,
 120.68482560625024,
 119.46159533585218,
 119.35283036580904,
 118.80821481551614,
 118.36832142354837,
 117.69885853094176,
 116.80379798075231,
 120.37194755823492,
 119.8570888403726,
 116.35349097486976,
 119.71703877325535,
 124.06473120810335,
 121.60730619099854,
 123.01959785043566,
 121.68543468114407,
 120.37125446736353,
 121.83301950930337,
 122.90514636167416,
 120.48184977379101,
 113.06404661527431,
 112.19124365719857,
 112.49837287964971,
 110.98271853029796,
 113.69793273564738,
 121.86882723903898,
 126.12777325286844,
 124.96175544297337,
 124.12667061822602,
 125.11939845943049,
 124.9404663001396,
 124.78006001874336,
 121.11961878983037,
 121.89152032397811,
 120.90813093965619,
 117.10667112155761,
 119.75677387235208,
 121.01617617828404,
 119.69580291150938,
 121.07863093007542,
 121.70587969723603,
 119.98983524952662,
 114.68806603535734,
 115.31198284203396,
 114.96605152182923,
 114.94464679106187,
 114.14492546862017,
 112.39313537965586,
 104.72500667969786,
 108.02791230231382,
 116.9820192888092,
 123.7338071031369,
 129.55732110624567,
 125.27455356935702,
 123.24085069734808,
 130.97131870674062,
 133.95662821190288,
 134.2104101091547,
 131.5813744966616,
 133.66045451279075,
 132.58097952876187,
 134.94149257978054,
 132.47012655150004,
 128.30221040268475,
 130.8647750922124,
 129.6636958517525,
 130.37204971671403,
 132.88251991448894,
 133.00475495494555,
 134.2710611651056,
 133.9432025423959,
 132.7899261913177,
 133.8693034933523,
 137.32214850236196,
 141.02729169046313,
 138.97277949656396,
 137.0094926044558,
 136.777195359603,
 136.33679550614787,
 139.55715671370913,
 140.9712964698932,
 140.47291121622035,
 147.1890156233506,
 154.7711257920808,
 153.66174286696253,
 155.58114521329202,
 154.3196104264465,
 154.4228220804907,
 153.20912577654047,
 144.08992100696597,
 142.34851789137255,
 137.33576080125292,
 137.00443686976303,
 137.43854598822978]

In [32]:
dfBTC["corr"]

0       57.269779
1       73.266227
2       83.938764
3       82.205109
4       88.032337
          ...
838    144.089921
839    142.348518
840    137.335761
841    137.004437
842    137.438546
Name: corr, Length: 843, dtype: float64

In [73]:
result["df1norm"].corr(result["df2norm"])

0.5163046633323225